/* ================================== */
/* 경로 및 타이틀 */
.login_path {
    width: 1240px;
    padding: 0;
    display: flex;
    color: #333;
    font-size: 12px;
    margin: 20px auto;
    height: 30px;
    line-height: 30px;
    justify-content: flex-end;
}

.login_path span {
    position: absolute;
    width: 0;
    height: 0;
    white-space: nowrap;
    text-indent: 100%;
    display: none;
}

.login_path li {
    float: left;
    padding-left: 12px;
    color: #333;
}

.login_path li a {
    color: #333;
}

.login_title {
    padding-top: 100px;
    text-align: center;
    color: #333;
}

.login_title h2 {
    font-size: 30px;
    line-height: 1;
    letter-spacing: 3px;
}

.login_title .txt_01 {
    font-size: 14px;
    letter-spacing: -0.2px;
    font-weight: 300;
    padding-top: 7px;
    padding-bottom: 20px;
}

/* ======================================= */
/* 로그인창 */
.login_page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    width: 100%;
}

.login_container {
    width: 800px;
    height: 550px;
}

.login_content {
    width: 800px;
    overflow: hidden;
    margin: 10px auto 0px;
    padding: 30px 0 0 0;
    border: 1px solid #dedede;
    border-top: 1px solid #222;
    color: #666;
    font-size: 12px;
}

.login {
    width: 675px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.login_content h3 {
    font-size: 45px;
    margin-left: -2px;
    color: #222;
    font-family: 'Montserrat', sans-serif;
}

.login_sub_txt {
    text-align: left;
    line-height: 16px;
}

/* ======================================= */
/* 로그인 아이디 및 비밀번호 입력 */
.login_fieldset {
    position: relative;
    width: 675px;
    margin: 0 auto;
    margin-top: 30px;
    border: none;
    vertical-align: top;
}

.login_fieldset legend {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 0;
    /* height: 20; */
    /* line-height: 0; */
}

.login_fieldset .login_id,
.login_fieldset .login_password {
    overflow: hidden;
    display: block;
    width: 576px;
    margin: 0 0 5px;
    border: 1px solid #d9d9d9;
    line-height: 35px;
}

.login_fieldset .login_id span,
.login_fieldset .login_password span {
    float: left;
    width: 55px;
    padding: 0 0 0 8px;
    text-align: left;
}

.login_fieldset .login_id span img,
.login_fieldset .login_password span img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}


.login_fieldset input[type=text],
.login_fieldset input[type=password] {
    /* line-height: 20px; */
    float: left;
    width: 500px;
    height: 40px;
    /* padding: 0px 0px 0px 0px; */
    border: 0 none;
    color: #8F8F91;
    vertical-align: middle;
    position: relative;
}

/* ======================================= */
/* 로그인 버튼 */

/* .login_fieldset .login_btn {
    float: right;
} */

.login_fieldset .login_btn a {
    display: block;
    border: 1px solid;
    width: 90px;
    line-height: 87px;
    text-align: center;
    background-color: #fff;
    color: #222;
    font-size: 15px;
    position: absolute;
    font-weight: 400;
    top: 0;
    right: 0;
}

/* ----------보안접속---------- */
.login_security {
    padding: 0 0 0 0px;
    margin: 0px 0px;
    float: left;
    padding-top: 5px;
}

/* ----------아이디기억하기---------- */
.login_forget label {
    justify-content: right;
    display: flex;
    margin-top: 10px;
    color: #222;
}

/* ----------아이디찾기---------- */
.login_find {
    float: right;
    padding-top: 15px;
    font-size: 13px;
}

.login_fieldset ul {
    overflow: hidden;
    margin: 0;
    border: 0;
    display: block;
}

.login_fieldset ul li {
    float: left;
    padding: 0 0 0 5px;
}

.login_fieldset ul li button {
    color: #666;
    background: none;
    cursor:pointer;
}

/* ----------네이버,페이스북,카카오톡 로그인---------- */
.login_cboth {
    clear: both;
}

.login_sns {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.login_fieldset .sns {
    margin: 10px 0 0 0;
    text-align: center;
    vertical-align: top;
}

/* ----------회원가입---------- */
.login_join {
    overflow: hidden;
    border-top: 1px solid #dedede;
    width: 675px;
    margin: 0 auto;
    padding: 30px 0;
    display: block;
}

.login_join_area {
    float: left;
    line-height: 16px;
    margin-top: 15px;
}

.login_join_area .login_join_title {
    margin-bottom: 5px;
    color: #333;
    font-size: 15px;
    font-weight: 600;
}

/* ----------회원가입버튼---------- */
.login_join_btn {
    float: right;
}

.login_join_btn a {
    display: block;
    width: 90px;
    height: 88px;
    text-align: center;
    background-color: #222;
    color: #fff;
    font-size: 15px;
    line-height: 83px;
    font-weight: 400;
}