/* ================ */
.Agree .path {
    width: 1240px;
    padding: 0;
    display: flex;
    color: #333;
    font-size: 12px;
    margin: 20px auto;
    height: 30px;
    line-height: 30px;
    justify-content: end;
}

.Agree .path span {
    position: absolute;
    width: 0;
    height: 0;
    white-space: nowrap;
    text-indent: 100%;
    display: none;
}

.Agree .path li {
    float: left;
    padding-left: 12px;
    color: #333;
}

.Agree .path li a {
    color: #333;
}

.Agree .title {
    padding-top: 100px;
    text-align: center;
    color: #333;
}

.Agree .title h2 {
    font-size: 30px;
    line-height: 1;
    letter-spacing: 3px;
}

.Agree .title .txt_01 {
    font-size: 14px;
    letter-spacing: -0.2px;
    font-weight: 300;
    padding-top: 7px;
    padding-bottom: 20px;
}




/*------ 회원가입 페이지 시작------ */

.Agree {
    background-color: white;
    min-height: 450px;
    width: 1240px;
    margin: auto;
}


.Agree .join_header {
    width: 80%;
    margin: auto;
}


.Agree .join_header p {
    text-align: center;
    margin: 20px;
    font-size: 15px;
}


.Agree .join_header h1 {
    /* position: relative; */
    padding: 10px;
    font-size: 30px;
    text-align: center;
}


.Agree .join_step {
    width: 80%;
    margin: auto;
    display: flex;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}


.Agree .join_step li {
    /* position: absolute; */
    padding: 5px;
    margin: auto;
    text-align: center;
}

.Agree .join_step li:nth-of-type(2) {
    font-weight: bold;
    /* color: red; */
}

.Agree .step_img {
    width: 30px;
    height: 30px;
    margin: 5px;
    /* text-align: center; */
    /* color: black; */
}


.Agree .join_arr {
    width: 15px;
    height: 15px;
    display: absolute;
    margin: 13px;
}

/*----------여기서 부터는 약관 동의입니다.------------------*/

.Agree .agree_totl {
    width: 80%;
    margin: auto;
}

.Agree .agree_totla h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

.Agree .agree_mini {
    margin: 60px 0px 20px 30px;
    text-align: left;
}


.Agree .agree_text {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    margin: 0 0 0 25px;
    padding: 30px;
    overflow: auto;
    height: 180px;
    word-break: keep-all;
    text-align: justify;
}

.Agree .agree_check {
    text-align: left;
}


.Agree input[type="checkbox"] {
    margin: 5px;
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 5px;
    /* display: inline-block; */
    display: left;
}


.Agree label {
    /* display:inline-block; */
    text-align: left;
}


.Agree .join_btn {
    margin: 50px;
    display: flex;
    justify-content: center;
}


.Agree .out_btn3 {
    height: 35px;
    width: 150px;
    font-weight: bold;
    border: solid 1.5px black;
    margin: 50px;
}

.Agree .out_btn3 {
    background-color: black;
    color: white;
}

.Agree .out_btn3:hover {
    background-color: whitesmoke;
    color: black;
}