.Info {
  background-color: white;
  min-height: 450px;
  width: 1240px;
  margin: auto;
  text-align: left;
}

/* ================ */
.Info .path {
  width: 1240px;
  padding: 0;
  display: flex;
  color: #333;
  font-size: 12px;
  margin: 20px auto;
  height: 30px;
  line-height: 30px;
  justify-content: end;
}

.Info .path span {
  position: absolute;
  width: 0;
  height: 0;
  white-space: nowrap;
  text-indent: 100%;
  display: none;
}

.Info .path li {
  float: left;
  padding-left: 12px;
  color: #333;
}

.Info .path li a {
  color: #333;
}

.Info .title {
  padding-top: 100px;
  text-align: center;
  color: #333;
}

.Info .title h2 {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 3px;
}

.Info .title .txt_01 {
  font-size: 14px;
  letter-spacing: -0.2px;
  font-weight: 300;
  padding-top: 7px;
  padding-bottom: 20px;
}

/* ============================= */

/*---입력정보 칸 시작---*/

.Info .personal_info {
  border-top: solid 2px black;
  border-bottom: solid 1px black;
  width: 80%;
  margin: auto;
}

.Info .personal_info caption {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: left;
}

.Info .personal_info span {
  color: red;
  font-size: 12px;
  padding: 5px;
}

.Info .personal_info th,
.Info .personal_info td {
  border-top: solid 1px silver;
  border-left: solid 1px silver;
}

.Info .personal_info th:first-child {
  border-left: none;
}

.Info .personal_info tr:first-child th,
.Info .personal_info tr:first-child td {
  border-top: none;
}

.Info .personal_info th {
  font-size: 13px;
  text-align: center;
  padding: 10px;
}

.Info .personal_info td {
  padding-left: 10px;
}

.Info .personal_info label {
  margin-right: 20px;
  margin-left: 5px;
}

.Info .personal_info label input {
  height: 25px;
  /* vertical-align: center; */
}

.Info .personal_info input,
.Info .personal_info select {
  margin: 5px 0px;
  box-sizing: border-box;
  padding: 0px 5px;
  height: 25px;
  border: solid 1px gray;
  border-radius: 5%;
}

.Info .personal_info input[type="text"],
.Info .personal_info input[type="number"] {
  width: 100px;

}

.Info .personal_info input[type="tel"] {
  width: 50px;
}


.Info .personal_info input[type="password"],
.Info .personal_info input[name="address"] {
  border: solid 1px gray;
  border-radius: 5%;
  width: 200px;
}

.Info .input_address {
  display: flex;
}

.Info .input_address input {
  box-sizing: border-box;
  margin: 5px;
  margin-left: 0px;
}

.Info .inside_btn:hover {
  background-color: silver;
}

.Info .agree_check {
  line-height: 38px;
}

.Info input[type="radio"] {
  height: 100%;
  margin: 0;
}


.Info .join_btn {
  display: flex;
  justify-content: center;
}

.Info .out_btn2,
.Info .out_btn3 {
  height: 35px;
  width: 150px;
  font-weight: bold;
  border: solid 1.5px black;
  margin: 50px;
}

.Info .out_btn3 {
  background-color: black;
  color: white;
}

.Info .out_btn3:hover {
  background-color: whitesmoke;
  color: black;
}

.Info .input_warn {
  color: red;
  font-size: 12px;
  margin: 10px 0 0 124px;
}